# Optimize npm performance
fund=false
audit=false
loglevel=error
progress=false
save-exact=true
package-lock=true
engine-strict=true
legacy-peer-deps=true
fetch-retries=5
fetch-retry-factor=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
